In [62]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [63]:
df = pd.read_csv("50_startups.csv")

In [64]:
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [65]:
from sklearn.preprocessing import OrdinalEncoder

In [66]:
a = df.iloc[:,3:4]
a

         State
0     New York
1   California
2      Florida
3     New York
4      Florida
5     New York
6   California
7      Florida
8     New York
9   California
10     Florida
11  California
12     Florida
13  California
14     Florida
15    New York
16  California
17    New York
18     Florida
19    New York
20  California
21    New York
22     Florida
23     Florida
24    New York
25  California
26     Florida
27    New York
28     Florida
29    New York
30     Florida
31    New York
32  California
33     Florida
34  California
35    New York
36     Florida
37  California
38    New York
39  California
40  California
41     Florida
42  California
43    New York
44  California
45    New York
46     Florida
47  California
48    New York
49  California

In [67]:
le = OrdinalEncoder(categories=[["California","Florida","New York"]])
df.iloc[:,3:4] = le.fit_transform(df.iloc[:,3:4])
df

    R&D Spend  Administration  Marketing Spend State     Profit
0   165349.20       136897.80        471784.10   2.0  192261.83
1   162597.70       151377.59        443898.53   0.0  191792.06
2   153441.51       101145.55        407934.54   1.0  191050.39
3   144372.41       118671.85        383199.62   2.0  182901.99
4   142107.34        91391.77        366168.42   1.0  166187.94
5   131876.90        99814.71        362861.36   2.0  156991.12
6   134615.46       147198.87        127716.82   0.0  156122.51
7   130298.13       145530.06        323876.68   1.0  155752.60
8   120542.52       148718.95        311613.29   2.0  152211.77
9   123334.88       108679.17        304981.62   0.0  149759.96
10  101913.08       110594.11        229160.95   1.0  146121.95
11  100671.96        91790.61        249744.55   0.0  144259.40
12   93863.75       127320.38        249839.44   1.0  141585.52
13   91992.39       135495.07        252664.93   0.0  134307.35
14  119943.24       156547.42        256512.92   1.0  132602.65
15  114523.61       122616.84        261776.23   2.0  129917.04
16   78013.11       121597.55        264346.06   0.0  126992.93
17   94657.16       145077.58        282574.31   2.0  125370.37
18   91749.16       114175.79        294919.57   1.0  124266.90
19   86419.70       153514.11             0.00   2.0  122776.86
20   76253.86       113867.30        298664.47   0.0  118474.03
21   78389.47       153773.43        299737.29   2.0  111313.02
22   73994.56       122782.75        303319.26   1.0  110352.25
23   67532.53       105751.03        304768.73   1.0  108733.99
24   77044.01        99281.34        140574.81   2.0  108552.04
25   64664.71       139553.16        137962.62   0.0  107404.34
26   75328.87       144135.98        134050.07   1.0  105733.54
27   72107.60       127864.55        353183.81   2.0  105008.31
28   66051.52       182645.56        118148.20   1.0  103282.38
29   65605.48       153032.06        107138.38   2.0  101004.64
30   61994.48       115641.28         91131.24   1.0   99937.59
31   61136.38       152701.92         88218.23   2.0   97483.56
32   63408.86       129219.61         46085.25   0.0   97427.84
33   55493.95       103057.49        214634.81   1.0   96778.92
34   46426.07       157693.92        210797.67   0.0   96712.80
35   46014.02        85047.44        205517.64   2.0   96479.51
36   28663.76       127056.21        201126.82   1.0   90708.19
37   44069.95        51283.14        197029.42   0.0   89949.14
38   20229.59        65947.93        185265.10   2.0   81229.06
39   38558.51        82982.09        174999.30   0.0   81005.76
40   28754.33       118546.05        172795.67   0.0   78239.91
41   27892.92        84710.77        164470.71   1.0   77798.83
42   23640.93        96189.63        148001.11   0.0   71498.49
43   15505.73       127382.30         35534.17   2.0   69758.98
44   22177.74       154806.14         28334.72   0.0   65200.33
45    1000.23       124153.04          1903.93   2.0   64926.08
46    1315.46       115816.21        297114.46   1.0   49490.75
47       0.00       135426.92             0.00   0.0   42559.73
48     542.05        51743.15             0.00   2.0   35673.41
49       0.00       116983.80         45173.06   0.0   14681.40

In [73]:
x = df.iloc[:,0:3]
y = df.iloc[:,-1]

In [74]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2, random_state= 33)

In [75]:
llr = LogisticRegression()

In [76]:
llr.fit(x_train,y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.