In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("Population.csv")
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92676 entries, 0 to 92675
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    92676 non-null  object
 1   Model Year               92676 non-null  int64
 2   Make                     92676 non-null  object
 3   Electric Vehicle Type    92676 non-null  object
 4   Electric Range           92676 non-null  int64
 5   Base MSRP                92676 non-null  int64
 6   Legislative District     92676 non-null  float64
 7   CAFV Eligibility Simple  92676 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 5.7+ MB

,State,Model Year,Make,Electric Vehicle Type,Electric Range,Base MSRP,Legislative District,CAFV Eligibility Simple
0,WA,2020,TESLA,BEV,266,0,46.0,Eligible
1,WA,2024,BMW,PHEV,39,0,46.0,Eligible
2,WA,2024,BMW,PHEV,39,0,43.0,Eligible
3,WA,2018,TESLA,BEV,215,0,1.0,Eligible
4,WA,2012,CHEVROLET,PHEV,35,0,35.0,Eligible
...,...,...,...,...,...,...,...,...
92671,WA,2015,NISSAN,BEV,84,0,30.0,Eligible
92672,WA,2018,TESLA,BEV,215,0,1.0,Eligible
92673,WA,2019,TESLA,BEV,220,0,44.0,Eligible
92674,WA,2022,CHRYSLER,PHEV,32,0,45.0,Eligible
92675,WA,2018,TESLA,BEV,215,0,41.0,Eligible

In [11]:
da = df.drop(columns= ["Model Year", "Electric Range", "Base MSRP", "Legislative District", "State"])

In [48]:
da

            Make Electric Vehicle Type CAFV Eligibility Simple
0          TESLA                   BEV                Eligible
1            BMW                  PHEV                Eligible
2            BMW                  PHEV                Eligible
3          TESLA                   BEV                Eligible
4      CHEVROLET                  PHEV                Eligible
...          ...                   ...                     ...
92671     NISSAN                   BEV                Eligible
92672      TESLA                   BEV                Eligible
92673      TESLA                   BEV                Eligible
92674   CHRYSLER                  PHEV                Eligible
92675      TESLA                   BEV                Eligible

[92676 rows x 3 columns]

In [63]:
daa = da.head(10)
daa

        Make Electric Vehicle Type CAFV Eligibility Simple
0      TESLA                   BEV                Eligible
1        BMW                  PHEV                Eligible
2        BMW                  PHEV                Eligible
3      TESLA                   BEV                Eligible
4  CHEVROLET                  PHEV                Eligible
5      TESLA                   BEV                Eligible
6        KIA                   BEV                Eligible
7      TESLA                   BEV                Eligible
8     TOYOTA                  PHEV            Not Eligible
9     NISSAN                   BEV                Eligible

In [64]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

In [65]:
le = LabelEncoder()

In [66]:
x = daa.iloc[:,-1]
print(x)

0        Eligible
1        Eligible
2        Eligible
3        Eligible
4        Eligible
5        Eligible
6        Eligible
7        Eligible
8    Not Eligible
9        Eligible
Name: CAFV Eligibility Simple, dtype: object

In [67]:
#label_encoder
le.fit_transform(x)

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [68]:
#onehot_encoder
y = daa.iloc[:,0].values.reshape(-1,1)
ohe = OneHotEncoder()
ohe.fit_transform(y).toarray()

array([[0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.]])

In [85]:
daa["Make"].unique()

array(['TESLA', 'BMW', 'CHEVROLET', 'KIA', 'TOYOTA', 'NISSAN'],
      dtype=object)

In [90]:
y = daa.iloc[:,0:1]
oe = OrdinalEncoder(categories= [["BMW","TESLA","CHEVROLET","KIA","NISSAN","TOYOTA"]])
X = oe.fit_transform(y)
X

array([[1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [1.],
       [3.],
       [1.],
       [5.],
       [4.]])